# Google Cloud Platform Configuration
GCP_PROJECT_ID=fin-track-adc2c
GCP_PROCESSOR_ID=7ccb0cb9f4dda99f
GCP_LOCATION=eu

# Path to service account key file
GOOGLE_APPLICATION_CREDENTIALS=./keys/fin-track-adc2c-cc35184300f1.json

# Server Configuration
PORT=8000

# CORS Configuration
FRONTEND_URL=http://localhost:3001
