FIREBASE_PROJECT_ID=fin-track-adc2c
GOOGLE_APPLICATION_CREDENTIALS=./keys/service-account.json
ALLOWED_ORIGINS=https://fin-track-adc2c.web.app,https://fin-track-adc2c.firebaseapp.com,http://localhost:3000,http://localhost:3001
PORT=8080
